html, body {
  background-color: #1C2760;
  font-family: work sans;
  color: white;
}

/******************
TEXT
******************/

h1 {
  font-weight: 900;
  font-size: 36px;
  text-align: left;
  margin: 0 33px;
  text-transform: uppercase;
}

h2 { 
  font-weight: 900;
  font-size: 36px;
  color: #78CFE2;
}

h3 {
  font-weight: 900;
  font-size: 18px;
  color: #78CFE2;
}

h4 {
  font-weight: 300;
  font-size: 20px;
  margin: 8px 0;
}

h5 {
  font-weight: 300;
  font-size: 18px;
  margin: 8px 0;
}

h6 {
  font-weight: 300;
  font-size: 16px;
  margin: 8px 0;
}

a {
  color: #e7e7e7;
  text-decoration: none;
}

a:hover {
  color: white;
}

p, a {
  font-weight: 700;
  font-size: 16px;
}

.yellow-text {
  color: #FBCA0C;
}

.center-text {
  margin: auto;
  text-align: center;
}

/******************
CONTENT
******************/

.container {
  position: relative;
  width: 66%;
  margin: auto;
  z-index: 2;
}

.display-flex {
  display: flex;
  align-items: center;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  overflow: hidden;
  background-color: #1A255E;
}

nav .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.container.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 183px;
}

.container.image-container {
  height: 512px;
  margin-bottom: 54px;
  margin-top: 70px;
}

.main {
  background: linear-gradient(rgba( 0,0,0,0.1), rgba(0, 0, 0, 0.37), rgba( 0,0,0,0.2));
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.37);
  align-items: stretch;
  height: 512px;
  position: relative;
  z-index: 4;
}




nav .icon {
  display: none;
}

nav img {
  margin-right: 20px;
}

nav a, nav p {
  margin-right: 15px;
}



.desktop-logo-container {
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  position: absolute;
  margin-top: 33px;
}

.card {
  width: 32%;
  background-color: #1A255E;
  padding: 33px;
  height: 100%;
  box-sizing: border-box;
}

.card .horizontal-line {
  width: 100%;
  height: 1px;
  background-color: rgba(255,255,255,0.1);
  border: 0;
  margin: 15px 0;
}

.card.trivia {
  margin: 0 2%;
}

.reveal {
  width: 180px;
  height: 40px;
  color: #1A255E;
  background-color: #FBCA0C;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  line-height: 40px;
}

.answer {
  display: none;
}


/******************
IMAGES
******************/

img.michael {
  width: 118px;
  height: 118px;
}

img.ding {
  display: block;
  position: relative;
  width: 58px;
  height: 40px;
  left: -30px;
  top: -30px;
}

img.first {
  width: 124px;
  margin-top: -18px;
  margin-right: 18px;
}

img.not-first {
  width: 117px;
  margin-right: 18px;
}

img.circle-dots, img.square-dots, img.sprinkles {
  position: absolute;
  z-index: 1;
}

img.circle-dots {
  right: -91px;
  top: -71px;
}

img.square-dots {
  left: -39px;
  bottom: -28px;
}

img.sprinkles {
  right: -240px;
  bottom: -140px;
}


/******************
MEDIA QUEIRES
******************/

@media only screen and (max-width: 650px) {
  nav {
    display: block;
  }

  nav a, nav p {
    display: none;
  }

  nav .icon {
    float: right;
    display: block;
    margin-top: 20px;
  }

  nav.responsive {
    position: relative;
  }

  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0px;
    margin-top: 20px;
  }

  nav.responsive a, nav.responsive a {
    margin-top: 15px;
    float: none;
    display: block;
    text-align: left;
  }
}

