html, body {
  background-color: #151522;
  font-family: open sans;
  color: white;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  margin: auto;
}

h2 { 
  font-weight: 400;
  font-size: 24px;
}

h4 {
  font-weight: 300;
  font-size: 20px;
  margin: 8px 0;
}

h5 {
  font-weight: 300;
  font-size: 18px;
  margin: 8px 0;
}

h6 {
  font-weight: 300;
  font-size: 16px;
  margin: 8px 0;
}

a {
  color: #e7e7e7;
  text-decoration: none;
}

a:hover {
  color: white;
}

p, a {
  font-weight: 300;
  font-size: 16px;
}

.purple-text, .reveal {
  color: #6979f8
}

.reveal {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  min-width: 320px;
  margin: 20px auto 60px;
  margin-bottom: 60px;
  overflow: hidden;
}

nav .icon {
  display: none;
}

nav img {
  margin-right: 20px;
}

nav a, nav p {
  margin-right: 15px;
}

.ding, .container {
  max-width: 524px;
  width: 90%;
  display: block;
  margin: 45px auto;
}

.answer {
  display: none;
}

@media only screen and (max-width: 650px) {
  nav {
    display: block;
  }

  nav a, nav p {
    display: none;
  }

  nav .icon {
    float: right;
    display: block;
    margin-top: 20px;
  }

  nav.responsive {
    position: relative;
  }

  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0px;
    margin-top: 20px;
  }

  nav.responsive a, nav.responsive a {
    margin-top: 15px;
    float: none;
    display: block;
    text-align: left;
  }
}

